/* CSS Document */

div#calendario table {

	width: 700px;

	border-collapse:collapse;

	border:1px solid #CB9800;

	background: #FFF8E8 url(bg_td2.jpg) repeat;

}
div#calendario  caption{
font: 1.4em/1.4em Arial, Helvetica, sans-serif;

background: url(bg_caption.jpg) right top;
color: #CB9800;
	height: 40px;
text-align: center;
}




div#cellcal table {

	width: 100px;

	border-collapse:collapse;

	border:1px solid #CB9800;

	background: #FFFFFF;

}
div#cellcal table tr th{

	
	font-size: 1em;

}
div#cellcal table tr th.oggi {
	
	
	font-size: 1em;
	color: #ff3333;

}
div#cellcal table tr td{

	
	font-size: 0.8em;

}