BODY {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 76%; BACKGROUND: #fff; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
A {
	COLOR: #000
}
A:visited {
	COLOR: #000
}
A:hover {
	TEXT-DECORATION: none
}
#wrapper {
	BORDER-TOP: #a52a2a 1px solid; BACKGROUND: url(../graphic/background.gif) #fff; MARGIN: 10px auto; WIDTH: 1000px; TEXT-ALIGN: left
}
#header {
	BACKGROUND: #eee; FLOAT: left; WIDTH: 750px; BORDER-BOTTOM: #a52a2a 1px solid; HEIGHT: 120px
}
#logo {
	BACKGROUND: #bc8f8f; FLOAT: left; WIDTH: 149px; MARGIN-RIGHT: 10px; HEIGHT: 120px; TEXT-ALIGN: center
}
#logo H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 50px; PADDING-BOTTOM: 0px; MARGIN: 22px 0px 8px; COLOR: #000; LINE-HEIGHT: 30px; PADDING-TOP: 0px; FONT-FAMILY: "times new roman", serif
}
#logo H1 A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 50px; PADDING-BOTTOM: 0px; MARGIN: 22px 0px 8px; COLOR: #000; LINE-HEIGHT: 30px; PADDING-TOP: 0px; FONT-FAMILY: "times new roman", serif
}
#logo H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 40px; PADDING-BOTTOM: 0px; MARGIN: -9px 0px 0px; COLOR: #fff; PADDING-TOP: 0px; FONT-FAMILY: "trebuchet ms", sans-serif; LETTER-SPACING: 4px
}
#logo H2 A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 40px; PADDING-BOTTOM: 0px; MARGIN: -9px 0px 0px; COLOR: #fff; PADDING-TOP: 0px; FONT-FAMILY: "trebuchet ms", sans-serif; LETTER-SPACING: 4px
}
#logo A {
	TEXT-DECORATION: none
}
#logo A:visited {
	TEXT-DECORATION: none
}
#toplink {
	FLOAT: left; WIDTH: 590px; FONT-FAMILY: arial, sans-serif; HEIGHT: 20px
}
#toplink UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#toplink UL LI {
	FONT-SIZE: 10px; FLOAT: left; MARGIN: 0px 7px 0px 0px; COLOR: #999; LINE-HEIGHT: 20px
}
#toplink UL LI A {
	FONT-SIZE: 10px; COLOR: #444; TEXT-DECORATION: none
}
#toplink UL LI A:visited {
	FONT-SIZE: 10px; COLOR: #444; TEXT-DECORATION: none
}
#toplink UL LI A:hover {
	COLOR: #000; TEXT-DECORATION: underline
}
#midlink {
	FLOAT: left; WIDTH: 590px; HEIGHT: 80px
}
#main_menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 20px 0px 0px; WIDTH: 590px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#main_menu LI {
	FLOAT: left
}
#main_menu LI A {
	FONT-SIZE: 20px; FLOAT: left; PADDING-BOTTOM: 3px; COLOR: #444; MARGIN-RIGHT: 10px; BORDER-BOTTOM: #444 1px solid; FONT-FAMILY: "times new roman", serif; TEXT-DECORATION: none
}
#main_menu LI A:visited {
	FONT-SIZE: 20px; FLOAT: left; PADDING-BOTTOM: 3px; COLOR: #444; MARGIN-RIGHT: 10px; BORDER-BOTTOM: #444 1px solid; FONT-FAMILY: "times new roman", serif; TEXT-DECORATION: none
}
#main_menu LI A:hover {
	PADDING-BOTTOM: 1px; BORDER-BOTTOM: #000 3px solid
}
#main_menu LI A.chosen {
	PADDING-BOTTOM: 1px; BORDER-BOTTOM: #000 3px solid
}
#main_menu LI A.chosen:visited {
	PADDING-BOTTOM: 1px; BORDER-BOTTOM: #000 3px solid
}
#botlink {
	FLOAT: left; WIDTH: 590px; FONT-FAMILY: arial, sans-serif; HEIGHT: 20px
}
#botlink UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#botlink UL LI {
	FONT-SIZE: 10px; FLOAT: left; MARGIN: 0px 7px 0px 0px; COLOR: #999; LINE-HEIGHT: 20px
}
#botlink UL LI A {
	FONT-SIZE: 10px; COLOR: #444; TEXT-DECORATION: none
}
#botlink UL LI A:visited {
	FONT-SIZE: 10px; COLOR: #444; TEXT-DECORATION: none
}
#botlink UL LI A:hover {
	COLOR: #000; TEXT-DECORATION: underline
}
#showcase {
	CLEAR: both; BACKGROUND: #bc8f8f; WIDTH: 1000px; HEIGHT: auto
}
#info {
	BACKGROUND: #fff; FLOAT: left; WIDTH: 750px
}
#info_right {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; FLOAT: right; PADDING-BOTTOM: 10px; WIDTH: 230px; COLOR: #fff; PADDING-TOP: 10px
}
#info_right P {
	MARGIN: 0px 0px 10px
}
#info_right FORM FIELDSET {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 5px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
#info_right OL {
	MARGIN-TOP: 40px
}
#info_right OL LI {
	MARGIN-BOTTOM: 5px
}
#info_right LI A {
	FONT-SIZE: 11px; COLOR: #fff; TEXT-DECORATION: none
}
#info_right LI A:visited {
	FONT-SIZE: 11px; COLOR: #fff; TEXT-DECORATION: none
}
#info_right LI A:hover {
	TEXT-DECORATION: underline
}
#info H2 {
	FONT-SIZE: 1.4em; MARGIN: 15px 0px 10px 15px; FONT-FAMILY: "times new roman", serif; TEXT-ALIGN: left
}
#info H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 1.1em; MARGIN: 0px 0px 10px 15px; COLOR: #006699; FONT-FAMILY: "trebuchet ms", sans-serif; TEXT-ALIGN: left
}
#info_right H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 1.1em; MARGIN: 0px; COLOR: #fff; FONT-FAMILY: "trebuchet ms", sans-serif
}
#info_right_home {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 250px
}
#info_right_home A IMG {
	BORDER-TOP-WIDTH: 0px; DISPLAY: block; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#content {
	BORDER-TOP: #a52a2a 1px solid; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; WIDTH: 750px
}
A.adbanner {
	FONT-SIZE: 11px; COLOR: #fff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.adbanner:visited {
	FONT-SIZE: 11px; COLOR: #fff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.adbanner:hover {
	TEXT-DECORATION: underline
}
P.cite {
	PADDING-RIGHT: 5px; DISPLAY: list-item; PADDING-LEFT: 5px; BACKGROUND: url(../graphic/close_quotes.gif) no-repeat right bottom; LIST-STYLE-IMAGE: url(../graphic/open_quotes.gif); PADDING-BOTTOM: 0px; COLOR: #008080; PADDING-TOP: 0px
}
#left_column {
	PADDING-RIGHT: 22px; PADDING-LEFT: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 468px; PADDING-TOP: 0px
}
 HTML #left_column {
	WIDTH: 468px
}
#left_column OL LI {
	FONT-SIZE: 11px; MARGIN: 5px 0px; LINE-HEIGHT: 16px; FONT-FAMILY: verdana, sans-serif
}
#left_column DL.sitemap DD A {
	COLOR: #069; TEXT-DECORATION: none
}
#left_column DL.sitemap DD A:hover {
	BACKGROUND: #069; COLOR: #fff
}
#left_column DL.sitemap {
	MARGIN-LEFT: 50px
}
#left_column DL.sitemap DD {
	MARGIN: 0px
}
#right_column {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 230px; PADDING-TOP: 0px
}
 HTML #right_column {
	WIDTH: 230px
}
DL.latest {
	FONT-SIZE: 10px; MARGIN: 10px 0px 0px
}
DL.latest DT {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: #bc8f8f; PADDING-BOTTOM: 5px; BORDER-LEFT: #fff 1px solid; COLOR: #fff; PADDING-TOP: 5px; FONT-FAMILY: "times new roman", serif
}
DL.latest DD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 5px
}
DL.latest DD A {
	COLOR: #000; TEXT-DECORATION: none
}
DL.latest DD A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
DL.latest DD A EM {
	FLOAT: right; COLOR: #468; FONT-STYLE: normal
}
DL.latest DD A B {
	COLOR: #008080
}
DL.latest DD A:hover {
	TEXT-DECORATION: underline
}
DL.latest DD A:hover EM {
	CURSOR: pointer; TEXT-DECORATION: none
}
DL.list {
	FLOAT: left; MARGIN: 0px 10px 10px 0px; WIDTH: 240px
}
DL.list DD {
	FONT-SIZE: 11px; BACKGROUND: #fff; COLOR: #069; FONT-FAMILY: arial, sans-serif
}
DL.list DD A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000; TEXT-DECORATION: underline
}
DL.list DD A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000; TEXT-DECORATION: underline
}
DL.list DD A:hover {
	TEXT-DECORATION: none
}
DL.list_last {
	MARGIN-RIGHT: 0px
}
.advertisement {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 20px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.advertisement LI A {
	FONT-SIZE: 11px; COLOR: #000; TEXT-DECORATION: none
}
.advertisement LI A:visited {
	FONT-SIZE: 11px; COLOR: #000; TEXT-DECORATION: none
}
.advertisement LI A:hover {
	TEXT-DECORATION: underline
}
.advertisement LI SPAN.text {
	FONT-SIZE: 11px; COLOR: #008080
}
.spacer {
	MARGIN-TOP: 5px
}
#search {
	BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: right; WIDTH: 250px; BORDER-BOTTOM: #a52a2a 1px solid; HEIGHT: 120px
}
 HTML #search {
	HEIGHT: 120px
}
#search FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: -10px 0px 0px 5px; PADDING-TOP: 0px
}
#search FORM IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#far_right {
	PADDING-RIGHT: 10px; BORDER-TOP: #a52a2a 1px solid; PADDING-LEFT: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 230px; PADDING-TOP: 0px
}
 HTML #far_right {
	WIDTH: 230px
}
#far_right IMG {
	BORDER-TOP-WIDTH: 0px; MARGIN-TOP: 5px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#foot {
	CLEAR: both; FONT-SIZE: 10px; BACKGROUND: #bc8f8f; WIDTH: 1000px; COLOR: #fff; HEIGHT: 25px
}
#foot P {
	FONT-SIZE: 11px; FLOAT: left; MARGIN: 5px 10px 5px 15px; COLOR: #fff
}
#foot UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px 15px 0px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#foot UL LI {
	FLOAT: left; MARGIN: 5px 0px 5px 10px
}
#content P {
	FONT-SIZE: 11px; MARGIN: 5px 0px 8px; LINE-HEIGHT: 16px
}
#content H3 {
	FONT-SIZE: 18px; MARGIN: 15px 0px 5px; COLOR: #000; FONT-FAMILY: "times new roman", serif
}
#far_right H3 {
	FONT-SIZE: 18px; MARGIN: 15px 0px 5px; COLOR: #000; FONT-FAMILY: "times new roman", serif
}
#content IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.adbanner {
	DISPLAY: block; BACKGROUND: url(../graphic/banner_base.jpg); WIDTH: 468px; HEIGHT: 60px
}
.left {
	FLOAT: left
}
.float_left {
	FLOAT: left; MARGIN: 0px 10px 5px 0px
}
IMG.slogan {
	DISPLAY: block; BACKGROUND: url(../graphic/pc2.jpg)
}
IMG.faq {
	DISPLAY: block; BACKGROUND: url(../graphic/pc3.jpg)
}
IMG.contact {
	DISPLAY: block; BACKGROUND: url(../graphic/contact.jpg)
}
IMG.privacy {
	DISPLAY: block; BACKGROUND: url(../graphic/privacy.jpg)
}
IMG.access {
	DISPLAY: block; BACKGROUND: url(../graphic/access.jpg)
}
IMG.support {
	DISPLAY: block; BACKGROUND: url(../graphic/support.jpg)
}
IMG.map {
	DISPLAY: block; BACKGROUND: url(../graphic/map.jpg)
}
IMG.advertise {
	DISPLAY: block; BACKGROUND: url(../graphic/advertise2.jpg)
}
IMG.oops {
	DISPLAY: block; BACKGROUND: url(../graphic/oops.jpg)
}
.clear {
	CLEAR: both
}
.css {
	PADDING-RIGHT: 2px; FONT-WEIGHT: bold; FONT-FAMILY: "times new roman", serif
}
.play {
	FONT-FAMILY: "trebuchet ms", sans-serif
}
.hiddenfromview {
	DISPLAY: none
}
.date {
	FONT-WEIGHT: bold; COLOR: #006699
}
.bold {
	FONT-WEIGHT: bold
}
.image IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-LEFT: 5px; BORDER-RIGHT-WIDTH: 0px
}
PRE {
	FONT-SIZE: 11px; COLOR: #006699
}
P.highlight {
	BORDER-RIGHT: #bc8f8f 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #bc8f8f 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BACKGROUND: #e8e8e8; PADDING-BOTTOM: 5px; BORDER-LEFT: #bc8f8f 1px solid; COLOR: #006699; PADDING-TOP: 5px; BORDER-BOTTOM: #bc8f8f 1px solid
}
#smalladsie {
	MARGIN: 25px 0px
}
#adsie {
	CLEAR: both; BORDER-TOP: #fff 25px solid; MARGIN-LEFT: 10px; WIDTH: 740px; BORDER-BOTTOM: #fff 10px solid; POSITION: relative; TEXT-ALIGN: left
}
#ad200 {
	MARGIN: 10px 0px
}
#supporters {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#supporters LI {
	FONT-SIZE: 11px; BACKGROUND: #ddd; FLOAT: left; MARGIN: 1px 1px 0px 0px; WIDTH: 154px; COLOR: #c00; TEXT-INDENT: 15px; LINE-HEIGHT: 24px; FONT-FAMILY: tahoma, geneva, "lucida sans unicode", "lucida grande",verdana, sans-serif; HEIGHT: 25px; TEXT-ALIGN: left
}
#supporters LI A {
	DISPLAY: block; WIDTH: 100%; COLOR: #000; HEIGHT: 100%; TEXT-DECORATION: none
}
#supporters LI A:visited {
	DISPLAY: block; WIDTH: 100%; COLOR: #000; HEIGHT: 100%; TEXT-DECORATION: none
}
#supporters LI A:hover {
	BACKGROUND: #bc8f8f; COLOR: #fff
}
#supporters LI A B {
	FONT-WEIGHT: normal; FONT-FAMILY: arial, tahoma, sans-serif; LETTER-SPACING: -1px
}
#supporters LI A:visited B {
	FONT-WEIGHT: normal; FONT-FAMILY: arial, tahoma, sans-serif; LETTER-SPACING: -1px
}
P {
	FONT-SIZE: 11px; MARGIN: 5px 0px 15px; LINE-HEIGHT: 16px
}
.g_right {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FLOAT: right; PADDING-BOTTOM: 5px; MARGIN-LEFT: 10px; BORDER-LEFT: #bc8f8f 1px solid; PADDING-TOP: 10px
}
.g_sub {
	FLOAT: left; MARGIN-BOTTOM: 10px; WIDTH: 467px
}
.g_index {
	FLOAT: left; MARGIN: 15px 0px 10px; WIDTH: 250px
}
.g_inline {
	FLOAT: left; WIDTH: 230px
}
.gad {
	LEFT: -4px; POSITION: relative
}
