.container4 {
	BACKGROUND: url(menu4.gif) #eee;
	MARGIN: 0px 0px 20px;
	HEIGHT: 30px;
	TEXT-ALIGN: center;
	border-top-width: 5px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #C94F00;
	border-right-color: #C94F00;
	border-bottom-color: #C94F00;
	border-left-color: #C94F00;
}
.menu4 {
	FONT-SIZE: 0.85em; BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0px auto; WIDTH: 600px; FONT-FAMILY: verdana, sans-serif; POSITION: relative; HEIGHT: 30px; TEXT-ALIGN: left
}
.menu4 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.menu4 UL LI {
	FLOAT: left; POSITION: relative
}
/*
.menu4 UL LI.home {
	BACKGROUND: url(menu4stand.gif) // menu alto immagine vuota
}
*/
.menu4 UL LI.subsubr {
	BACKGROUND: url(previous.gif) #eee no-repeat 145px 0px
}
.menu4 UL LI A {
	DISPLAY: block; PADDING-LEFT: 30px; WIDTH: 70px; COLOR: #000; LINE-HEIGHT: 29px; HEIGHT: 30px; TEXT-DECORATION: none
}
.menu4 UL LI A:visited {
	DISPLAY: block; PADDING-LEFT: 30px; WIDTH: 70px; COLOR: #000; LINE-HEIGHT: 29px; HEIGHT: 30px; TEXT-DECORATION: none
}
 HTML .menu4 UL LI A {
	WIDTH: 70px
}
.menu4 UL LI A:visited {
	WIDTH: 70px
}
.menu4 UL LI UL {
	LEFT: 0px; VISIBILITY: hidden; OVERFLOW: hidden; POSITION: absolute; TOP: 0px; HEIGHT: 0px
}
.menu4 TABLE {
	FONT-SIZE: 1em; MARGIN: -1px; BORDER-COLLAPSE: collapse
}
.menu4 UL LI:hover A {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #FF0000; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: underline
}
.menu4 UL LI A:hover {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #FF0000; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: underline
}
.menu4 UL LI:hover UL {
	BORDER-RIGHT: #C94F00 1px solid; BORDER-TOP: #C94F00 1px solid; BACKGROUND: #fff; LEFT: -1px; VISIBILITY: visible; OVERFLOW: visible; BORDER-LEFT: #C94F00 1px solid; WIDTH: 170px; BORDER-BOTTOM: #C94F00 1px solid; POSITION: absolute; TOP: 30px; HEIGHT: auto
}
.menu4 UL LI A:hover UL {
	BORDER-RIGHT: #C94F00 1px solid; BORDER-TOP: #C94F00 1px solid; BACKGROUND: #fff; LEFT: -1px; VISIBILITY: visible; OVERFLOW: visible; BORDER-LEFT: #C94F00 1px solid; WIDTH: 170px; BORDER-BOTTOM: #C94F00 1px solid; POSITION: absolute; TOP: 30px; HEIGHT: auto
}
.menu4 UL LI:hover UL LI A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 35px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 5px; WIDTH: 125px; COLOR: #c00; LINE-HEIGHT: 1.5em; PADDING-TOP: 5px; HEIGHT: auto; TEXT-DECORATION: none
}
.menu4 UL LI A:hover UL LI A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 35px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 5px; WIDTH: 125px; COLOR: #c00; LINE-HEIGHT: 1.5em; PADDING-TOP: 5px; HEIGHT: auto; TEXT-DECORATION: none
}
.menu4 UL LI:hover UL LI A.drop {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 35px; PADDING-BOTTOM: 5px; WIDTH: 125px; COLOR: #000; LINE-HEIGHT: 1.5em; PADDING-TOP: 5px; HEIGHT: auto
}
.menu4 UL LI A:hover UL LI A.drop {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 35px; PADDING-BOTTOM: 5px; WIDTH: 125px; COLOR: #000; LINE-HEIGHT: 1.5em; PADDING-TOP: 5px; HEIGHT: auto
}
.menu4 UL LI:hover UL LI UL {
	LEFT: 0px; VISIBILITY: hidden; OVERFLOW: hidden; POSITION: absolute; TOP: 0px; HEIGHT: 0px
}
.menu4 UL LI A:hover UL LI A UL {
	LEFT: 0px; VISIBILITY: hidden; OVERFLOW: hidden; POSITION: absolute; TOP: 0px; HEIGHT: 0px
}
.menu4 UL LI:hover UL LI A:hover {
	COLOR: #00f; TEXT-DECORATION: underline
}
.menu4 UL LI A:hover UL LI A:hover {
	COLOR: #00f; TEXT-DECORATION: underline
}
.menu4 UL LI:hover UL LI:hover UL {
	BORDER-RIGHT: #C94F00 1px solid; BORDER-TOP: #CBCB98 1px solid; LEFT: 166px; VISIBILITY: visible; BORDER-LEFT: #CBCB98 1px solid; COLOR: #000; BORDER-BOTTOM: #CBCB98 1px solid; POSITION: absolute; TOP: 0px; HEIGHT: auto
}
.menu4 UL LI A:hover UL LI A:hover UL {
	BORDER-RIGHT: #C94F00 1px solid; BORDER-TOP: #CBCB98 1px solid; LEFT: 166px; VISIBILITY: visible; BORDER-LEFT: #CBCB98 1px solid; COLOR: #000; BORDER-BOTTOM: #CBCB98 1px solid; POSITION: absolute; TOP: 0px; HEIGHT: auto
}
.menu4 UL LI:hover UL LI:hover UL.left {
	LEFT: -166px
}
.menu4 UL LI A:hover UL LI A:hover UL.left {
	LEFT: -166px
}
.menu4 UL LI:hover UL LI:hover UL LI A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 35px; PADDING-BOTTOM: 4px; WIDTH: 140px; COLOR: #00f; LINE-HEIGHT: 1.5em; PADDING-TOP: 5px; HEIGHT: auto
}
.menu4 UL LI A:hover UL LI A:hover UL LI A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 35px; PADDING-BOTTOM: 4px; WIDTH: 140px; COLOR: #00f; LINE-HEIGHT: 1.5em; PADDING-TOP: 5px; HEIGHT: auto
}
 HTML .menu4 UL LI A:hover UL LI A:hover UL LI A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 35px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.menu4 UL LI:hover UL LI:hover UL LI:hover A {
	COLOR: #000; TEXT-DECORATION: underline
}
.menu4 UL LI A:hover UL LI A:hover UL LI A:hover {
	COLOR: #000; TEXT-DECORATION: underline
}
