/* CSS Document */

html {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#4C597F;
	font-size: 14px;
	height:100%;
	
}

input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #000000;
}

textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #000000;
}

select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #000000;
}

/* login */


div#login table {
	width: 300px;
	border-collapse:collapse;
	border:1px solid #5E9EA6;
	background-color: #FFFFFF;
	background: url(login.gif) right top;
}
div#login caption {
	font: 1.2em/1.2em Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	text-indent: 10px;
	height: 50px;
	color: #93a6b4;
}
div#login thead th {
	background: #FFF8E8;
	height: 30px;
	color: #E6EDF9;
	font-size: 0.8em;
	font-weight: normal;
	padding: 0px 1px;
	margin: 2px 0px 0px;
	text-align: left;
	border-right: 1px solid #FCF1D4;
	
}

div#login tbody tr {
}
div#login tbody tr.odd {
	background: #FFF8E8 url(bg_td2.jpg) repeat-x;
}

div#login tbody  th, div#login td {
	font-size: 0.8em;
	font-weight: normal;
	line-height: 1.4em;
	color: #777777;
	padding: 2px 3px;
	border-right: 1px solid #DDDDDD;
	text-align: left;
	
}
div#login tfoot th {
	color: #444444;
	height: 15px;
}
div#login tfoot td {
	color: #444444;
	height: 15px;
}

/* tabelle */

/*
tabelle dei form
*/
div#formins{
width:99.99%;
float:left;
}
div#formins table {
	border-collapse:collapse;
	/*border:1px solid #93a6b4;*/
	border-bottom:1px solid #93a6b4;
	border-top:1px solid #93a6b4;
	width:99.99%;
	
}

div#formins caption {
	font: 1.2em/1.2em Arial, Helvetica, sans-serif;
	text-align: left;
	text-indent: 10px;
	background: url(bg_caption_ric.jpg) right top;
	height: 30px;
	color: #93a6b4;
	
}
div#formins thead th {

	/*background: url(bg_th.jpg) no-repeat right;*/
	background-color: #CCCCCC;
	height: 47px;
	color: #FF3300;
	font-size: 0.7em;
	font-weight: bold;
	padding: 0px 7px;
	margin: 20px 0px 0px;
	text-align: left;
	
}
div#formins tbody tr {
	background-color: #F9F9F9;
	font-size: 0.8em;

}
div#formins tbody tr.odd {
	background: #FFF8E8 url(bg_td2.jpg) repeat-x;
}

div#formins tbody  th, div#itsthetable td, div#formins tbody td{
	font-size: 0.8em;
	line-height: 1.4em;
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
	padding: 2px 1px;
	border-top: 1px solid #93a6b4;
	text-align: left;
}

div#formins tbody td.grn,div#formins tbody th.grn{
font-size: 1em;
}

div#formins tbody  th, div#itsthetable td{

border-right: 1px solid #DDDDDD;

}

/* div#formins a {
	color: #777777;
	font-weight: bold;
	text-decoration: underline;
}
div#formins a:hover {
	color: #F8A704;
	text-decoration: underline;
}
*/
div#formins tfoot th {
	background: url(bg_total.jpg) repeat-x bottom;
	color: #FFFFFF;
	height: 15px;
}
div#formins tfoot td {
	background: url(bg_total.jpg) repeat-x bottom;
	color: #FFFFFF;
	height: 15px;
}
div#formins tfoot td a{
	font: 1em Verdana, Arial, Helvetica, sans-serif;

	color: #FFFFFF;
}

div#formins input {
	font-size: 1em;
	color: #000000;
}
div#formins select {
	font-size: 1em;
	color: #000000;
}
div#formins textarea {
	font-size: 1em;
	color: #000000;
}


/*
 * CLASSE FORMINS
 */

.formins{
width:99.99%;
float:left;
}
.formins table {
	border-collapse:collapse;
	/*border:1px solid #93a6b4;*/
	border-bottom:1px solid #93a6b4;
	border-top:1px solid #93a6b4;
	width:99.99%;
	
}

.formins caption {
	font: 1.2em/1.2em Arial, Helvetica, sans-serif;
	text-align: left;
	text-indent: 10px;
	background: url(bg_caption_ric.jpg) right top;
	height: 30px;
	color: #93a6b4;
	
}
.formins thead th {

	/*background: url(bg_th.jpg) no-repeat right;*/
	background-color: #CCCCCC;
	height: 47px;
	color: #FF3300;
	font-size: 0.7em;
	font-weight: bold;
	padding: 0px 7px;
	margin: 20px 0px 0px;
	text-align: left;
	
}
.formins tbody tr {
	background-color: #F9F9F9;
	font-size: 0.8em;

}
.formins tbody tr.odd {
	background: #FFF8E8 url(bg_td2.jpg) repeat-x;
}

.formins tbody  th,  .formins tbody td{
	font-size: 0.8em;
	line-height: 1.4em;
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
	padding: 2px 1px;
	border-top: 1px solid #93a6b4;
	text-align: left;
}

.formins tbody td.grn,.formins tbody th.grn{
font-size: 1em;
}

.formins tbody  th {

border-right: 1px solid #DDDDDD;

}


.formins tfoot th {
	
	color: #FFFFFF;
	height: 15px;
}
.formins tfoot td {
	
	color: #FFFFFF;
	height: 15px;
}
.formins tfoot td a{
	font: 1em Verdana, Arial, Helvetica, sans-serif;

	color: #FFFFFF;
}

.formins input {
	font-size: 1em;
	color: #000000;
}
.formins select {
	font-size: 1em;
	color: #000000;
}
.formins textarea {
	font-size: 1em;
	color: #000000;
}

/*
 * FORMI INS TAB
 */

/*
 * CLASSE boxcategorie
 */

.boxcategorie{
width:99.99%;
float:left;
}
.boxcategorie table {
	border-collapse:collapse;
	/*border:1px solid #93a6b4;*/
	border-bottom:1px solid #93a6b4;
	border-top:1px solid #93a6b4;
	width:99.99%;
	
}

.boxcategorie caption {
	font: 1.2em/1.2em Arial, Helvetica, sans-serif;
	text-align: left;
	text-indent: 10px;
	background: url(bg_caption_ric.jpg) right top;
	height: 30px;
	color: #93a6b4;
	
}
.boxcategorie thead th {

	/*background: url(bg_th.jpg) no-repeat right;*/
	background-color: #CCCCCC;
	height: 47px;
	color: #FF3300;
	font-size: 0.7em;
	font-weight: bold;
	padding: 0px 7px;
	margin: 20px 0px 0px;
	text-align: left;
	
}
.boxcategorie tbody tr {
	background-color: #F9F9F9;
	font-size: 1em;

}
.boxcategorie tbody tr.odd {
	background: #FFF8E8 url(bg_td2.jpg) repeat-x;
}

.boxcategorie tbody  th,  .boxcategorie tbody td{
	width:50px;
	font-size: 0.9em;
	line-height: 1.4em;
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
	padding: 2px 1px;
	border-top: 1px solid #93a6b4;
	text-align: left;
}

.boxcategorie tbody td.grn,.boxcategorie tbody th.grn{
font-size: 1em;
}

.boxcategorie tbody  th {

border-right: 1px solid #DDDDDD;

}


.boxcategorie tfoot th {
	
	color: #FFFFFF;
	height: 15px;
}
.boxcategorie tfoot td {
	
	color: #FFFFFF;
	height: 15px;
}
.boxcategorie tfoot td a{
	font: 1em Verdana, Arial, Helvetica, sans-serif;

	color: #FFFFFF;
}

.boxcategorie input {
	font-size: 1em;
	color: #000000;
}
.boxcategorie select {
	font-size: 1em;
	color: #000000;
}
.boxcategorie textarea {
	font-size: 1em;
	color: #000000;
}

/*
 * 
 */


/*
tabelle dei form
*/
div#forminstab{
width:99.99%;
float:left;
font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#4C597F;
	font-size: 12px;
}
div#forminstab table {
	border-collapse:collapse;
	/*border:1px solid #93a6b4;*/
	border-bottom:1px solid #93a6b4;
	border-top:1px solid #93a6b4;
	width:99.99%;
	
}

div#forminstab caption {
	font: 1.2em/1.2em Arial, Helvetica, sans-serif;
	text-align: left;
	text-indent: 10px;
	background: url(bg_caption_ric.jpg) right top;
	height: 30px;
	color: #93a6b4;
	
}
div#forminstab thead th {

	/*background: url(bg_th.jpg) no-repeat right;*/
	background-color: #CCCCCC;
	height: 47px;
	color: #FF3300;
	font-size: 0.7em;
	font-weight: bold;
	padding: 0px 7px;
	margin: 20px 0px 0px;
	text-align: left;
	
}
div#forminstab tbody tr {
	background-color: #F9F9F9;
	font-size: 1em;

}
div#forminstab tbody tr.odd {
	background: #FFF8E8 url(bg_td2.jpg) repeat-x;
}

div#forminstab tbody  th, div#forminstab tbody td{
	font-size: 0.8em;
	line-height: 1.4em;
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
	padding: 2px 1px;
	border-top: 1px solid #93a6b4;
	text-align: left;
}

div#forminstab tbody td.grn,div#forminstab tbody th.grn{
font-size: 1em;
}

div#forminstab tbody  th{

border-right: 1px solid #DDDDDD;

}

div#forminstab tfoot th {
	background: url(bg_total.jpg) repeat-x bottom;
	color: #FFFFFF;
	height: 15px;
}
div#forminstab tfoot td {
	background: url(bg_total.jpg) repeat-x bottom;
	color: #FFFFFF;
	height: 15px;
}
div#forminstab tfoot td a{
	font: 1em Verdana, Arial, Helvetica, sans-serif;

	color: #FFFFFF;
}

div#forminstab input {
	font-size: 1em;
	color: #000000;
}
div#forminstab select {
	font-size: 1em;
	color: #000000;
}
div#forminstab textarea {
	font-size: 1em;
	color: #000000;
}


/* sotto tab*/
div#sottotab table {
	width: 100%;
	border-collapse:collapse;
	border:1px solid #93a6b4;
}
div#sottotab caption {
	font: 1.2em/1.2em Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	text-indent: 10px;
	background: none;
	height: 20px;
	color: #93a6b4;
}

div#sottotab thead th {
	background: url(bg_th_sottot.jpg) no-repeat right;
	height: 21px;
	color: #000000;
	font-size: 1em;
	padding: 0px 7px;
	margin: 20px 0px 0px;
	text-align: left;
	border-right: 1px solid #FCF1D4;
}
div#sottotab tbody tr {
	background: none;
	background-color: #F9F9F9;
	font-size:1em;
}
div#sottotab tbody  th, div#sottotab td {
	font-size: 1em;
	line-height: 1.4em;
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
	padding: 5px 3px;
	border-top: 1px solid #93a6b4;
	border-right: 1px solid #DDDDDD;
	text-align: left;
}
div#sottotab tfoot tr, div#sottotab tfoot th, div#sottotab tfoot td {
	background: none;
	background-color: #DDDDDD;
	font-size: 1em;
	line-height: 1.4em;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	height: 15px;
}
/* div pulsanti*/
div#pulsanti {
	font-size: 0.5em;
	height: 10px;
	background: none;
	position: relative;
	top: 10px;

}

/* 
#
# FORM RICERCA
#
*/
div#ricana{
	float:left;
	width:99.99%
}
div#ricana table {
	color:#4C597F;
	width:100%;
	font-size: 1em;
	text-indent: 10px;
	border-collapse:collapse;
}

div#ricana caption {
	font-weight:bold;
	text-align: left;
	
	background: url(bg_caption_ric.jpg) right top;
	height:30px;
}
div#ricana tr {
	font-size: 0.8em;
	height:30px;

}
div#ricana tfoot {
	font-size: 0.8em;
	height:30px;
	background: url(bg_foot_ric.jpg);
}
div#ricana a {
	text-decoration: none;
	border-bottom: 1px dotted #4C597F;
	color: #4C597F;
	font-weight: bold;

}
div#ricana a:hover {
	text-decoration: none;
	/*color: #fff;
	background: #f60;*/
	border-bottom: 1px solid #4C597F;

}

/*
*
*ELENCO
*/
div#elenco {
font-weight:normal;
width:99.99%;
float:left;
}
div#elenco table {
	color:#4C597F;
	width:100%;
	font-size: 1em;
	border-collapse:collapse;
	padding:4px;
	

}
div#elenco caption {
	font: 1.2em/1.2em Arial, Helvetica, sans-serif;
	text-align: center;
	text-indent: 10px;
	background: url(bg_caption_ric.jpg) right top;
	height: 30px;
	color: #93a6b4;
	border-bottom: 1px solid #93a6b4;

}
div#elenco caption input{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	width:150px
}
div#elenco thead tr{

	font: 0.8em/0.8em Arial, Helvetica, sans-serif;

}
div#elenco tfoot tr{
	background: url(bg_total.jpg) repeat-x bottom;
	color: #FFFFFF;
	height: 15px;
	font: 0.8em/0.8em Arial, Helvetica, sans-serif;

}
div#elenco tfoot tr a{
	color: #FFFFFF;

}
div#elenco thead th{
	font-weight:normal;
	border-right: 1px solid #DDDDDD;

}
div#elenco tbody tr {
	font-size: 0.8em;
	font-weight:normal;
	height:30px;
	background: url(bg_td3.jpg) repeat-x top;
}
div#elenco tbody tr.odd {
	background: #FFF8E8 url(bg_td2.jpg) repeat-x;
}
div#elenco tbody  tr th {
	border-right: 1px solid #DDDDDD;
	border-top: 1px solid #93a6b4;
	font-weight: normal;
}
div#elenco tbody  tr td {
	border-top: 1px solid #93a6b4;
	font-weight: normal;
}

div#elenco tbody tr.inattivo {
color:#FF3366;
}
div#elenco tbody tr.spento {
color:#CCCCCC;
}
div#elenco tbody tr.spento a {
color:#CCCCCC;
}

div#elenco tbody a {
	text-decoration: underline;
	/*border-bottom: 1px dotted #4C597F;*/
	color: #4C597F;
	font-weight: normal;

}
div#elenco a:hover {
	text-decoration: none;
	/*color: #fff;
	background: #f60;*/
	/*border-bottom: 1px solid #4C597F;*/

}
div#elenco a img.nobor {	
border: 0px none; 

 }

/*
 * CLASSE ELENCO
 */
.elenco {
font-weight:normal;
width:99.99%;
float:left;
}
.elenco table {
	color:#4C597F;
	width:100%;
	font-size: 1em;
	border-collapse:collapse;
	padding:4px;
	

}
.elenco caption {
	font: 1.2em/1.2em Arial, Helvetica, sans-serif;
	text-align: center;
	text-indent: 10px;
	background: url(bg_caption_ric.jpg) right top;
	height: 30px;
	color: #93a6b4;
	border-bottom: 1px solid #93a6b4;

}
.elenco caption input{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	width:150px
}
.elenco thead tr{

	font: 0.8em/0.8em Arial, Helvetica, sans-serif;

}
.elenco tfoot tr{
	background: url(bg_total.jpg) repeat-x bottom;
	color: #FFFFFF;
	height: 15px;
	font: 0.8em/0.8em Arial, Helvetica, sans-serif;

}
.elenco tfoot tr a{
	color: #FFFFFF;

}
.elenco thead th{
	font-weight:normal;
	border-right: 1px solid #DDDDDD;

}
.elenco tbody tr {
	font-size: 0.8em;
	font-weight:normal;
	height:30px;
	background: url(bg_td3.jpg) repeat-x top;
}
.elenco tbody tr.odd {
	background: #FFF8E8 url(bg_td2.jpg) repeat-x;
}
.elenco tbody  tr th {
	border-right: 1px solid #DDDDDD;
	border-top: 1px solid #93a6b4;
	font-weight: normal;
}
.elenco tbody  tr td {
	border-top: 1px solid #93a6b4;
	font-weight: normal;
}

.elenco tbody tr.inattivo {
color:#FF3366;
}
.elenco tbody tr.spento {
color:#CCCCCC;
}
.elenco tbody tr.spento a {
color:#CCCCCC;
}

.elenco tbody a {
	text-decoration: underline;
	/*border-bottom: 1px dotted #4C597F;*/
	color: #4C597F;
	font-weight: normal;

}
.elenco a:hover {
	text-decoration: none;
	/*color: #fff;
	background: #f60;*/
	/*border-bottom: 1px solid #4C597F;*/

}
.elenco a img.nobor {	
border: 0px none; 

 }


/*
 * ELENCO TAB
 */

/*
*
*ELENCO
*/
div#elencotab {
font-weight:normal;
width:99.99%;
float:left;
}
div#elencotab table {
	color:#4C597F;
	width:100%;
	font-size: 1em;
	border-collapse:collapse;
	padding:4px;
	

}
div#elencotab caption {
	font: 1.2em/1.2em Arial, Helvetica, sans-serif;
	text-align: center;
	text-indent: 10px;
	background: url(bg_caption_ric.jpg) right top;
	height: 30px;
	color: #93a6b4;
	border-bottom: 1px solid #93a6b4;

}
div#elencotab caption input{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	width:150px
}
div#elencotab thead tr{

	font: 0.8em/0.8em Arial, Helvetica, sans-serif;

}
div#elencotab tfoot tr{
	background: url(bg_total.jpg) repeat-x bottom;
	color: #FFFFFF;
	height: 15px;
	font: 0.8em/0.8em Arial, Helvetica, sans-serif;

}
div#elencotab tfoot tr a{
	color: #FFFFFF;

}
div#elencotab thead th{
	font-weight:normal;
	border-right: 1px solid #DDDDDD;

}
div#elencotab tbody tr {
	font-size: 0.8em;
	font-weight:normal;
	height:30px;
	background: url(bg_td3.jpg) repeat-x top;
}
div#elencotab tbody tr.odd {
	background: #FFF8E8 url(bg_td2.jpg) repeat-x;
}
div#elencotab tbody  tr th {
	border-right: 1px solid #DDDDDD;
	border-top: 1px solid #93a6b4;
	font-weight: normal;
}
div#elenco tbody  tr td {
	border-top: 1px solid #93a6b4;
	font-weight: normal;
}

div#elencotab tbody tr.inattivo {
color:#FF3366;
}
div#elencotab tbody tr.spento {
color:#CCCCCC;
}
div#elencotab tbody tr.spento a {
color:#CCCCCC;
}

div#elencotab tbody a {
	text-decoration: underline;
	/*border-bottom: 1px dotted #4C597F;*/
	color: #4C597F;
	font-weight: normal;

}
div#elencotab a:hover {
	text-decoration: none;
	/*color: #fff;
	background: #f60;*/
	/*border-bottom: 1px solid #4C597F;*/

}
div#elencotab a img.nobor {	
border: 0px none; 

 }

/*
 SOTTOMENU 
*/
div#sottomenu{
WIDTH: 100%;
POSITION: relative;
HEIGHT: 15px;
TEXT-ALIGN: left;
font-size: 0.8em;
FLOAT: left;
PADDING-TOP: 10px;
PADDING-BOTTOM: 10px;
}
div#sottomenu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none;
}
div#sottomenu UL LI {
PADDING-LEFT: 10px;
PADDING-RIGHT: 10px;
FLOAT: left; POSITION: relative;
border-right: 1px solid #DDDDDD;
border-top: 1px solid #DDDDDD;
border-bottom: 1px solid #DDDDDD;
HEIGHT: 20px;
background-color:#93a6b4;

}
div#sottomenu UL LI A{
 TEXT-DECORATION: none;

color:#4C597F;
}
div#sottomenu UL LI A:visited{
color:#4C597F;
TEXT-DECORATION: none
}
div#sottomenu UL LI A:hover{
color:#FFFFFF;
TEXT-DECORATION: underline;
}

div#int_sottomenu {
text-align:center;
}

/*
INTERMEZZO
*/
div#intermezzo {
width:99.99%;
float:left;
padding-top:50px;
padding-bottom:50px;
text-align:center;
font-size: 0.8em;

}

/* 
RIEPILOGO
*/
div#riepilogo{
width:99.99%;
float:left;
font-size: 0.8em;

}
div#riepilogo div#scaduto{
text-align:center;
color:#FF3366;
}

div#riepilogo div#contlista{
font-weight: bold;
}
div#riepilogo div#contlista ul{
LIST-STYLE-TYPE: none;
}
div#riepilogo div#contlista ul li {
PADDING-RIGHT: 10px;
FLOAT: left; POSITION: relative;
HEIGHT: 20px;

}

/*
*
* PAGiNA
*/
div#contenitore {

	width: 900px;
		border-bottom: 1px solid #93a6b4;

}
div#contenitorecento {

	width: 100%;
		border-bottom: 1px solid #93a6b4;

}

div#corpopag {
	width: 900px;
	float:left;
	border-left: 1px solid #93a6b4;
	border-right: 1px solid #93a6b4;
	border-collapse:collapse;
}

div#centrale a {
	color: #777777;
	text-decoration: underline;

}

div#centrale a:hover{
	color: #F8A704;
	text-decoration: underline;

}

img { 
border: 0px none; 
} 

.avviso {

color:#CC0000;}

#contload {
	
	font-size:12px;
	min-height:30px; /*ff*/
	height: auto !important; /*ie7 */
	height: 30px; /*ie6 */
	text-align:center;
	border: 5px;
	padding:2px;
	
}

#navigazione{
	font: 1.0em/1.0em Arial, Helvetica, sans-serif;
	text-align: center;
	color: #e09a10;;
}


#azioni{
	width:100%;
	float:left;
	font: 1em/1em Arial, Helvetica, sans-serif;
	text-align:left;
}

#azioni ul
{
display:inline;
list-style:none;
list-style-type:none;
margin:0px;
padding:0px;
} 
#azioni ul li
{
width:300px;
display:inline;
list-style:none;
list-style-type:none;
margin:0px;
padding:0px;
}

.azioni{
	width:100%;
	float:left;
	font: 1em/1em Arial, Helvetica, sans-serif;
	text-align:left;
}

.azioni ul
{
display:inline;
list-style:none;
list-style-type:none;
margin:0px;
padding:0px;
} 
.azioni ul li
{
width:300px;
display:inline;
list-style:none;
list-style-type:none;
margin:0px;
padding:0px;
}  
/*#loading { 
clear:both; background:url(wait.gif) center top no-repeat; text-align:center;padding:33px 0px 0px 0px; font-size:12px;display:none; font-family:Verdana, Arial, Helvetica, sans-serif;
} */

#loading_generale {
float:right;
}
.nosfondo{
	background-color:#FFFFFF;
}
.riga{

background: url(bg_white.jpg) repeat top;
}
.riga2{

background-color: #e9e9e9;
}

/*body>#cont_ordini{
    
}*/
.cont_ordini{
	width:900px;
	margin: 0 auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-collapse:collapse;
	border-bottom:1px solid #5E9EA6;
	color:#4C597F;
	font-size: 10px;
	float:left;
   	position:relative;
	background: url(bg_div_contenitore.jpg) repeat-y;
	
}
.box_sx{
	float: left;
	width:200px;
	/*border-collapse:collapse;*/
	vertical-align:top;
	overflow:hidden;
	position:relative;
}

.box_ct{
	float: left;
	width:428px;
	/*border-collapse:collapse;*/
	/*border-left:1px solid #5E9EA6;*/
	/*border-right:1px solid #5E9EA6;*/
	/*background-color: #FFFFFF;*/
   	position:relative;
	overflow:hidden;
}

.box_dx{
	float: left;
	width:270px;
	/*border-collapse:collapse;*/
	/*border-left:1px solid #5E9EA6;*/
	vertical-align:top;
	overflow:hidden;
	position:relative;
}

.lista_sc{
	
}
.ul_lista_sc{
	list-style-type:none;
	padding:0;
	margin:0;
	
}
.ul_lista_sc li{
	background-image:url(../images/bullet_blue.gif);
	background-repeat:no-repeat;
	background-position:0 0;
	height:15px;
	padding-left:15px;

}
.agg_qta{
	margin-bottom:2px;
}

div#msg {
	font-size: 0.8em;
	font-weight: bold;
	color: #ff8000;
	text-align: left;
	border-right: none;
	border-left: none;
	
}

div#header_view_dicom {
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #ff8000;
}
div#body_view_dicom {
	font-size: 0.8em;
	font-family: Arial, Helvetica, sans-serif;
	color: #93a6b4;
}

table#body_view_dicom {
	font-size: 0.8em;
	font-family: Arial, Helvetica, sans-serif;
	color: #93a6b4;
}

div#body_assoc_dicom table thead tr {
	font-size: 0.8em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #93a6b4;
	width: 100%;
}
div#body_assoc_dicom table tbody tr {
	font-size: 0.8em;
	font-family: Arial, Helvetica, sans-serif;
	color: #93a6b4;
	width: 100%;
}

.edit_rec,.edit_rec_drop{
	border-bottom:1px dotted;
	
}
.edit_doc,.edit_doc_pr,.edit_doc_stato_pagamento,.edit_doc_trasporto_mezzo,.edit_doc_note,.edit_art,.edit_art_desc,.edit_nome_car,.edit_moto{
	/*text-decoration: underline;*/
	border-bottom:1px dotted;
	
}
select#select_carrelli {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.8em;
	color: #000000;
	
}
select#opzioni_articoli {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.4em;
	color: #000000;
	width:120px;
}
div#div_carrelli{
	float:left;
	margin-top: 1px;
	padding-right:10px;
}
div#div_icon_carrelli{
	float:left;
	
}
.div_tipo_operazione{
	/*font-size:1.2em;*/
	color:#60a61a;
}
