/* CSS Document */
body { 
  color : #000000; 
  background : #ffffff; 
  font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size: 6pt;
}

input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 6pt;
	color: #000000;
}

textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 6pt;
	color: #000000;
}

select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 6pt;
	color: #000000;
}

a { 
  text-decoration : underline; 
  color : #0000ff; 
}
#navigation, #advertising, #other, #nostamp{ 
  display : none; 
} 
