@page {size: 210mm 297mm; margin: 15mm;}
#header{display:none;}
.menu1{display:none;}
.del_carrello{display:none;}
.no_print{display:none;}
#link_mod_anagrafica{display:none;}
body { 
  color : #000000; 
  background : #ffffff; 
}
#header_stampa{
	width: 100%;
}

#ricana{
  width: 100%; 
  border: 1px solid #ff6919;
  font-family : Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.7em;
}
#lavorazioni{ 
  width: 195px;
  height: 620px;
  border: 1px solid #dfdfdf;
  margin-top: 3px;
  font-family : Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.6em;
  float:left;
  
} 
.elenco_officina{ 
  width: 430px;
  height: 620px;
  border: 1px solid #dfdfdf;
  margin-top: 3px;
  margin-left: 3px;
  font-family : Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.6em;
  float:left;
}
.elenco_normal{ 
  width: 100%;
  height: 620px;
  border: 1px solid #dfdfdf;
  margin-top: 3px;
  /*margin-left: 1px;*/
  font-family : Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.6em;
  float:left;
} 
.tbl_print{
	width: 100%;
}
#footer_stampa{
	width: 100%;
	height:20px;
	margin-top: 650px;
	/*border: 1px solid;*/
	
	font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.7em;
}