div#azioni{
font: 0.8em/0.8em Arial, Helvetica, sans-serif;
text-align:left;
width: 900px;
}
div#azioni p{
align:left;
}
div#itsthetable table {

	width: 900px;

	border-collapse:collapse;

	border:1px solid #CB9800;

	

}

div#itsthetable caption {

	font: 1.5em/1.5em Arial, Helvetica, sans-serif;

	text-align: left;

	text-indent: 10px;

	background: url(bg_caption.jpg) right top;

	height: 40px;

	color: #CB9800;

}

.puls {

	background: none;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;



}

div#itsthetable thead th {

	background: url(bg_th.jpg) no-repeat right;

	height: 47px;

	color: #FFFFFF;

	font-size: 0.8em;

	font-weight: bold;

	padding: 0px 3px;

	margin: 20px 0px 0px;

	text-align: left;

	border-right: 1px solid #FCF1D4;

}



div#itsthetable tbody tr {

background: url(bg_td1.jpg) repeat-x top;

}

div#itsthetable tbody tr.odd {

	background: #FFF8E8 url(bg_td2.jpg) repeat-x;

}



div#itsthetable tbody  th, div#itsthetable td {

	font-size: 0.8em;

	line-height: 1.4em;

	font-family: Arial, Helvetica, sans-serif;

	color: #777777;

	padding: 10px 7px;

	border-top: 1px solid #CB9800;

	border-right: 1px solid #DDDDDD;

	text-align: left;

}

div#itsthetable a {

	color: #777777;

	font-weight: bold;

	text-decoration: underline;

}

div#itsthetable a:hover {

	color: #F8A704;

	text-decoration: underline;

}

div#itsthetable tfoot th {

	background: url(bg_total.jpg) repeat-x bottom;

	color: #FFFFFF;

	height: 15px;

}

div#itsthetable tfoot td {

	background: url(bg_total.jpg) repeat-x bottom;

	color: #FFFFFF;

	height: 15px;

}

/*

tabelle dei form

*/

input {

font-size: 1em;
}
select{
font-size: 1em;
}

div#formins table {

	width: 900px;

	border-collapse:collapse;

	border:1px solid #CB9800;

}



div#formins caption {

	font: 1.5em/1.5em Arial, Helvetica, sans-serif;

	text-align: left;

	text-indent: 10px;

	background: url(bg_caption.jpg) right top;

	height: 40px;

	color: #CB9800;

}

div#formins thead th {

	background: url(bg_th.jpg) no-repeat right;

	height: 47px;

	color: #FFFFFF;

	font-size: 0.8em;

	font-weight: bold;

	padding: 0px 7px;

	margin: 20px 0px 0px;

	text-align: left;

	border-right: 1px solid #FCF1D4;

}

div#formins tbody tr {

	background-color: #F9F9F9;

	font-size: 0.8em;



}

div#formins tbody tr.odd {

	background: #FFF8E8 url(bg_td2.jpg) repeat-x;

}



div#formins tbody  th, div#itsthetable td {

	font-size: 0.8em;

	line-height: 1.4em;

	font-family: Arial, Helvetica, sans-serif;

	color: #777777;

	padding: 5px 3px;

	border-top: 1px solid #CB9800;

	border-right: 1px solid #DDDDDD;

	text-align: left;

}

div#formins a {

	color: #777777;

	font-weight: bold;

	text-decoration: underline;

}

div#formins a:hover {

	color: #F8A704;

	text-decoration: underline;

}

div#formins tfoot th {

	background: url(bg_total.jpg) repeat-x bottom;

	color: #FFFFFF;

	height: 15px;

}

div#formins tfoot td {

	background: url(bg_total.jpg) repeat-x bottom;

	color: #FFFFFF;

	height: 15px;

}

/* sotto tab*/

div#sottotab table {

	width: 100%;

	border-collapse:collapse;

	border:1px solid #CB9800;

}

div#sottotab caption {

	font: 1.2em/1.2em Arial, Helvetica, sans-serif;

	font-weight: bold;

	text-align: left;

	text-indent: 10px;

	background: none;

	height: 20px;

	color: #CB9800;

}



div#sottotab thead th {

	background: url(bg_th_sottot.jpg) no-repeat right;

	height: 21px;

	color: #000000;

	font-size: 1em;

	padding: 0px 7px;

	margin: 20px 0px 0px;

	text-align: left;

	border-right: 1px solid #FCF1D4;

}

div#sottotab tbody tr {

	background: none;

	background-color: #F9F9F9;

	font-size:1em;

}

div#sottotab tbody  th, div#sottotab td {

	font-size: 1em;

	line-height: 1.4em;

	font-family: Arial, Helvetica, sans-serif;

	color: #777777;

	padding: 5px 3px;

	border-top: 1px solid #CB9800;

	border-right: 1px solid #DDDDDD;

	text-align: left;

}

div#sottotab tfoot tr, div#sottotab tfoot th, div#sottotab tfoot td {

	background: none;

	background-color: #DDDDDD;

	font-size: 1em;

	line-height: 1.4em;

	font-family: Arial, Helvetica, sans-serif;

	color: #000000;

	height: 15px;

}

/* div pulsanti*/

div#pulsanti {

	font-size: 0.5em;

	height: 10px;

	background: none;

	position: relative;

	top: 10px;



}

div#avviso {

	font-size: 1.5em;

	color: #FF6600;

}







/* minicalendario */

.minicalendario {

	font-family: Arial, Helvetica, sans-serif;

	height: 151px;

	width: 151px;

	background-color:#c9c9c9;



}



.minicalmese {

	color: #FFFFFF;

	background-color: #C94F00;

	text-align: center;

	font-size: 1.2 em;

}



.minicalgiorno {

	color: #000000;

	background-color: #C9C9C9;

	text-align: center;

	font-size: 1.2 em;

}



.minicalgiorno a {

	text-decoration:none;

	color: #C94F00;

	font-weight:bold;

}



.minicalendario img {

	border:none;

	text-decoration:none;

}