.cookiesDiv {
	font-family: sans-serif;
	font-size: 10px;
	padding: 10px;
	position:fixed; 
	left:0; 
	bottom:0; 
	right:0; 
	background: black; 
	color:white; 
	text-align: center;
	clear: both;
	z-index: 10000;
}

.cookiesDiv a {
	padding: 4px 8px;
	border-radius: 4px;
	background-color: #ea5b0c;
	color: #FFF;
	text-decoration: none;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	transition: all 0.25s ease 0s;
}
