.accordion .panel-body .row .col-md-12 {
	overflow-x: hidden;
}

.accordion .panel-body .row .col-md-12 a {
	display: block;
	width: 100%;
	color: #EA5B0C;
	padding-bottom: 10px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
   }


.accordion .panel-body .row .col-md-12 a:hover {	
	color: #222;
}