.backGray {
	background: #fafafa;
	-webkit-transition: opacity 0.8s ease-in-out;
	-moz-transition: opacity 0.8s ease-in-out;
	-o-transition: opacity 0.8s ease-in-out;
	transition: opacity 0.8s ease-in-out;
}

.panel .panel-title {
	cursor: pointer;	
}

.panel .panel-body {
	display: none;
}

.feature-content {
	display: block;
	clear: both;	
}

.benefit-features {
	float: right;
	margin: 20px 0 20px 30px;
	display: block;
	max-width: 160px;
	max-height: 200px;
	width: auto;
	height: auto;
}

.principale {
    display: block;
    max-width:100%;
    width: auto;
    height: auto;
    margin: 0 auto 20px 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;	
}

.vehicle-details section {
	display: block;
	width: 50%;
	float: left;
}

.tech-details h3, .tech-details p {
	font-size: 12px;
}

.tech-details ul {
	margin: 0;
}

.tech-details li {
	list-style: none;
	width: 100%;
	display: inline-block;
	margin: 0 0 0 -30px;
	padding: 0;
	min-height: 20px;
	clear: both;
}

.tech-details li h3 , .tech-details li p {
	float: left;
	margin: 5px 5px 0 0 ;
	line-height: 100%;
}

.tech-details li h3::after { 
    content: ": ";
}

.gamma .bianco, .modello-usato .bianco, .usato .bianco, .news .bianco, .cookies .bianco {
    background-color: #FFF;
    color: #5A5A5A;
}

.product-info {
	display: none;
}

#product-navigation {
	display: none;
	min-height: 130px;
	position: relative;
	width: 100%;
	/* max-width: 1300px; */
	overflow-x: hidden;
/* 	border: 1px solid fuchsia; */
	padding: 0 20px;
}

#product-navigation a {
	text-decoration: none;
}

#product-navigation > ul {
	list-style: none;
	margin: 0;
/* 	border: 1px solid aqua; */
	padding: 0 40px;
	display: block;
	min-height: 140px;
	width: 100%;
	overflow-x: hidden;
}

#product-navigation ul .menu-level1 {
	float: left;
	position: absolute;
	margin-right: 20px;
/* 	border: 1px solid blue; */
	padding: 1px;
}

#product-navigation ul .menu-level1 .png-img {
	background: transparent;
}

#product-navigation ul .menu-level1 .png-img:hover, #product-navigation ul .menu-level1 .png-img.selezionato {
	background: #ea5b0c;
}

#product-navigation ul .menu-level1 .png-img a {
	color: #222222;
	padding: 2px 20px;
	font-weight: bold;
	text-transform: uppercase;
}


#product-navigation ul .menu-level1 .png-img:hover a, #product-navigation ul .menu-level1 .png-img.selezionato a {
	color: white;
}

#product-navigation ul .menu-level1 .product-subnav-container {
	display: none;
	max-width: 1200px;
	overflow-x: hidden;
	position: absolute;
	top: 20px;
	left: 0px;
	/* border: 1px solid black; */
	padding: 1px;
	margin-left: 0;
}

#product-navigation ul .menu-level1:first-child .product-subnav-container {
	display: block;
}

#product-navigation ul .menu-level1 .product-subnav-container .product-subnav {
	width: 4000px;
	display: block;
	/* border: 1px solid green; */
	min-height: 100px;
	padding: 1px;
}

#product-navigation ul .menu-level1 .product-subnav-container .product-subnav li {
	float: left;
/* 	border: 1px solid orange; */
	width: 150px;
	height: 100px;
	position: relative;
	list-style: none;
}

#product-navigation ul .menu-level1 .product-subnav-container .product-subnav li a {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
}

#product-navigation ul .menu-level1 .product-subnav-container .product-subnav li a:first-child {
	bottom: 0;
	color: #222222;
}

#product-navigation ul .menu-level1 .product-subnav-container .product-subnav li:hover a:first-child {
	color: #ea5b0c;
}

#product-navigation ul .menu-level1 .product-subnav-container .product-subnav li a:last-child {
	top: 0;
}

#btnLeft, #btnRight {
	position: absolute;
	padding-top: 50px;
	top: 0;
	bottom: 0;
	width: 60px;
	background: white;
	z-index: 100;
	font-size: 32px;
	color: #ea5b0c;
}

#btnLeft:focus, #btnLeft:hover, #btnRight:focus, #btnRight:hover {
	color: #333333;
}

#btnLeft span, #btnRight span{

}

#btnLeft {
	left: 0;
}

#btnRight {
	text-align: right;
	right: 0;
}

.bikeimg img {
    display: block;
    max-width:140px;
    max-height:70px;
    width: auto;
    height: auto;
    margin: 0 auto;
}

.usato .row .col-md-9 .row .col-md-4 {
	display: block;	
	background: rgba(0, 0, 0, 0.5) none repeat scroll;
	
}

.usato .row .col-md-9 .row .col-md-4 div {
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.usato .row .col-md-9 .row .col-md-4:hover div {
	visibility: visible;
	background-color: rgba(0,0,0,0.5);
		-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	/* ...and now override with proper CSS property */
	transition: all 0.5s ease;
}

.usato .row .col-md-9 .row .col-md-4 div p {
	display: block;
	width: 90%;
	height: 90%;
	margin: 4% 5%;
	border: 1px solid #EA5B0C;
}

.usato .row .col-md-9 .row .col-md-4 div p span {
	display: block;
	text-align: center;
	color: white;
	font-size: 1.2em;
}

.usato .row .col-md-9 .row .col-md-4 div p span:first-child {
	margin-top: 18%;
}

.usato .row .col-md-9 .row .col-md-4 div p span:nth-child(2) {
	font-size: 2.2em;
}

.usato .row .col-md-9 .row .col-md-4 div p span a {
	color: white;
	text-decoration: none;
}

.usato .row .col-md-9 .row .col-md-4 div p span a:hover {
	color: #EA5B0C;
}

.modello-usato .container .col-md-9 .row:last-child .col-md-6:last-child, 
.modello-usato .container .col-md-9 #FloatBox .col-md-6:last-child { 
	text-align: right;
}



.onepage #contatti input[type="text"].errore, .onepage #contatti input[type="email"].errore, .onepage #contatti textarea.errore, #FloatBox input[type="text"].errore, #FloatBox input[type="email"].errore, #FloatBox textarea.errore {
	border-color: red!important;
}

#FloatBox #risposta {
	height: 30px;
	color: green;
}

.loading { background: url("img/loader.gif") left center no-repeat; }


/*
#FloatBox {
	display: none; 
	position: fixed; 
	top: 0px; 
	left: 0px; 
	z-index: 10000; 
	width: 100%; 
	background: url("img/backSplash.png") left top repeat; 
	text-align: center;
}

#FloatBox input, #FloatBox textarea {
	margin: 20px 0;
}
*/

@media only screen and (max-width:991px) {
	.accordion {display: none;}
	.select {display: block; width: 100%; max-width: 400px; padding: 20px; margin: 0 auto;}
	.select select {width: 100%; }
	.principale {margin: 2%; width: 96%;}
	#principale {display: none;}
}

@media only screen and (min-width:992px) {
	.accordion {display: inline; padding: 20px 0;}
	.select {display: none;}
	.modello-usato .col-md-2 .principale {max-height: 96px; cursor: pointer;}
	.principale {    max-height:560px; }
}