body {
	background-color: #222222;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

/* NAVIGATION MENU */

.navbar-brand {
	min-height: 120px;
	padding: 0 0 0 15px;	
}

.navbar-brand img {
	max-height: 120px;
	max-width: 200px;
	width: auto;
	height: auto;
	display: block;	
}

.navbar-inverse .navbar-nav {
	margin-top: 15px;	
	padding-top: 20px;	
	float: right;
}

.in, .collapsing {
	float: left;
}

.navbar-toggle { 
	margin-top: 40px;
}

.navbar-inverse .navbar-nav li > a {
	font-size: 18px;
	color: white;
	text-transform: uppercase;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li>a:focus, 
.navbar-inverse .navbar-nav>li>a:hover {
	background: none;
	color: #ea5b0c;
}

.navbar-inverse .navbar-nav li:last-child > a {
	background: #ea5b0c;
	color: white;
}

.sez-ancora {
	position: relative;
	top: -130px;	
}

/* NAVIGATION MENU */

/* PAGE */
.onepage .news .container {
	height: 60px;
	padding-top: 20px;
	display: block;
	overflow: hidden;
}

.onepage .news .dl-horizontal, .onepage .news .dl-horizontal dt, .onepage .news .dl-horizontal dd {
	display: none;
	color: white;
	width: 100%;
	overflow: hidden;
	height: 20px;
}

.onepage .news .dl-horizontal a {
	color: #EA5B0C;
	text-decoration: none;
}

.onepage .news .dl-horizontal a:hover {
	color: #ffffff;
}

.no-margin {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	
}

.container {
	width:100%;
	max-width: 1330px;
	/*border: 1px solid orange;*/
	padding-bottom: 20px;	
}

.slideshow .container{
	max-width: 100%;
	padding-bottom: 0px;
}
	
.onepage .container .row .col-md-3, .usato .row .col-md-9 .row .col-md-4, .offerte .row .col-md-9 .row .col-md-4 {
	margin: 0;
	padding: 0;
}

.onepage .container .row .col-md-3 {
	background-color: #222;
}
.usato .row .col-md-9 .row .col-md-4, .offerte .row .col-md-9 .row .col-md-4 {
	display: block;
	height: 100%;
}
.usato .row .col-md-9 .row .col-md-4 img, .offerte .row .col-md-9 .row .col-md-4 img{
/* 	min-height: 187px; */
vertical-align: middle;
}

.onepage .container .row .col-md-3 img, .usato .row .col-md-9 .row .col-md-4 img, .offerte .row .col-md-9 .row .col-md-4 img {
	width: 100%;
}
.onepage .container .row .col-md-4 img {
	margin-bottom: 10px;	
}

.onepage .container .row .col-md-4:first-child img {

}

.onepage #contatti .row .container{
	padding-left:0;
	padding-right: 0;
}

.onepage #contatti input[type="text"], 
.onepage #contatti input[type="email"], 
.onepage #contatti textarea,
#FloatBox input[type="text"], 
#FloatBox input[type="email"], 
#FloatBox textarea {
	margin: 10px 0;
	border: 1px solid transparent;
	background-color: #e4e4e4;
	height: 50px;
	border-radius: 0;
	text-align: center;
	color: #333333;
}


.onepage #contatti input[type="text"]::-webkit-input-placeholder, 
.onepage #contatti input[type="email"]::-webkit-input-placeholder, 
.onepage #contatti textarea::-webkit-input-placeholder,
#FloatBox input[type="text"]::-webkit-input-placeholder, 
#FloatBox input[type="email"]::-webkit-input-placeholder, 
#FloatBox textarea::-webkit-input-placeholder { /* WebKit browsers */
    color:    #333333;
}

.onepage #contatti input[type="text"]:-moz-placeholder, 
.onepage #contatti input[type="email"]:-moz-placeholder, 
.onepage #contatti textarea:-moz-placeholder,
#FloatBox input[type="text"]:-moz-placeholder, 
#FloatBox input[type="email"]:-moz-placeholder, 
#FloatBox textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #333333;
   opacity:  1;
}

.onepage #contatti input[type="text"]::-moz-placeholder, 
.onepage #contatti input[type="email"]::-moz-placeholder, 
.onepage #contatti textarea::-moz-placeholder,
#FloatBox input[type="text"]::-moz-placeholder, 
#FloatBox input[type="email"]::-moz-placeholder, 
#FloatBox textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #333333;
   opacity:  1;
}

.onepage #contatti input[type="text"]:-ms-input-placeholder, 
.onepage #contatti input[type="email"]:-ms-input-placeholder, 
.onepage #contatti textarea:-ms-input-placeholder,
#FloatBox input[type="text"]:-ms-input-placeholder, 
#FloatBox input[type="email"]:-ms-input-placeholder, 
#FloatBox textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #333333;
}

.onepage #contatti textarea, #FloatBox textarea {
	margin: 10px 0;
	border: 1px solid transparent;
	background-color: #e4e4e4;
	height: 230px;
}

#FloatBox textarea {
	height: 230px;
}


.onepage #contatti .col-md-4 input[type="email"]{
	background-color: #999999;
}

.onepage #contatti .col-md-8 .col-md-6:first-child {
	/* padding-left: 0; */	
}

.onepage #contatti .col-md-8 .col-md-6:last-child {
	text-align: center;	
}

.onepage #contatti #risposta, .onepage #contatti #rispostaN {
	height: 40px;	
	text-align: center;
}

.onepage #contatti #rispostaN {
	margin-bottom: 20px;
}

.onepage #contatti #risposta.loading, .onepage #contatti #rispostaN.loading {
	background: url("img/loader-1.gif") center center no-repeat!important;	
}

.carousel .item{
	background: url("img/loader-1.gif") center center no-repeat;	
}


.page-header {
	padding: 0;
	margin: 0;
	border-bottom: none;
	background: #222222;
	color: #ea5b0c;
	line-height: 65px;
	text-transform: uppercase;
	padding: 10px;
}

.page-header h1 {
	text-align: center;
	font-size: 52px;
	font-weight: 300;
}

.page-header h6 {
	font-size: 18px;
	color: white;
	text-align: center;
	text-transform: none;
	font-weight: 300;
	margin-top: -4px;
}

.page-header a {
	width: 100%;
	text-align: center;
	font-weight: 200;
	font-size: 1.2em;
	line-height: 1.2em;
	text-decoration: none;
	font-style: italic;
	display: block;
	color: white;
	text-transform: lowercase;
	margin-top: -10px;
}

.grigio {
	background-color: #222222;
	color: white;	
}

.grigioChiaro .page-header {
	background-color: #333333;	
}

.grigioChiaro {
	background-color: #333333;
	color: white;	
}

.arancione {
	background-color: #ea5b0c;
	color: white;
}

.bianco {
	background-color: white;
	color: #ea5b0c;
}

.bianco h6 {
	color: black;
}

.onepage .usato, .onepage .offerte {
	padding-bottom: 0;
}

.onepage .usato .row .col-md-3 div, .onepage .offerte .row .col-md-3 div {
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.onepage .usato .row .col-md-3:hover div, .onepage .offerte .row .col-md-3:hover div {
	visibility: visible;
	background-color: rgba(0,0,0,0.5);
		-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	/* ...and now override with proper CSS property */
	transition: all 0.5s ease;
}

.onepage .usato .row .col-md-3 div p, .onepage .offerte .row .col-md-3 div p {
	display: block;
	width: 90%;
	height: 90%;
	margin: 4% 5%;
	border: 1px solid #EA5B0C;
}

.onepage .usato .row .col-md-3 div p span, .onepage .offerte .row .col-md-3 div p span {
	display: block;
	text-align: center;
	color: white;
	font-size: 1.6em;
}

.onepage .usato .row .col-md-3 div p span:first-child, .onepage .offerte .row .col-md-3 div p span:first-child {
	margin-top: 16%;
	font-size: 1.1em;
}

.onepage .usato .row .col-md-3 div p span:nth-child(2), .onepage .offerte .row .col-md-3 div p span:nth-child(2) {
	font-size: 2.8em;
}

.onepage .usato .row .col-md-3 div p span a, .onepage .offerte .row .col-md-3 div p span a {
	color: white;
	text-decoration: none;
}

.onepage .usato .row .col-md-3 div p span a:hover, .onepage .offerte .row .col-md-3 div p span a:hover {
	color: #EA5B0C;
}

.btn-default {
	border: 2px solid #ea5b0c;
	color: white;
	border-radius: 0;
	background: #333333;
	text-align: center;
	width: 40%;
}
/* PAGE */

/* FOOTER */

footer {
	background-color: #222;
	border-color: #080808;
}

footer .container {
/* 	border: 1px solid white; */
	line-height: 800%;
	vertical-align: middle;
}

footer .container span a {
	float: right;
	margin-right: 10px;
}

footer .container span:first-child a {
	margin-right: 0;
}

footer .navbar-brand img {
	max-height: 100px;
	max-width: 180px;
}

/* FOOTER */


/*CAROUSEL*/
.carousel-inner .item {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*CAROUSEL*/


/*GENERICI*/
.btn-primary {
    color: #FFF;
    background-color: #EA5B0C;
    border-color: #FFFFFF;
}

.btn-primary:hover {
    color: #FFF;
    background-color: #222;
    border-color: #FFFFFF;
}
    
/*GENERICI*/    

@media only screen and (max-width: 768px) {
	.onepage #product-navigation { display: none; }
	.onepage .select {display: block;}
	footer .container { line-height: 200%; }
	footer .container span { display: block; }
	footer .navbar-brand {
		width: 100%;
	}
	
	.carousel { height: 240px; }
	.carousel .item { height: 240px; }
	.carousel-inner > .item > img { height: 240px; }
/*
	.navbar-brand {height: 20px; min-height: 60px;}
	.navbar {min-height: 20px;}
	.navbar-brand img { max-height: 60px; max-width: 100px;	}
*/
	#btnForm, #btnBack {
		display: block; text-align: center;
	}
	
	#FloatBox h1 {	font-size: 20px; }

}

@media only screen and (min-width: 769px) {
	.onepage #product-navigation { display: block; }
	.onepage .select {display: none;}
}
